.elementor-column-gap-default > .elementor-row > .elementor-column.full_width {
    div {
        padding: 0;
    }
}

.din {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $din !important;
    }
}

.din-light {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $din-light !important;
    }
}

.garamond {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond !important;
    }
}

.garamond-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-i !important;
    }
}

.garamond-ligth {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-ligth !important;
    }
}

.garamond-ligth-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-ligth-i !important;
    }
}

.garamond-bold {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-bold !important;
    }
}

.garamond-bold-i {
    h1, h2, h3, h4, h5, h6, p, a {
        font-family: $garamond-bold-i !important;
    }
}